#vital_signs .theme--light.v-input--is-disabled, .theme--light.v-input--is-disabled input, .theme--light.v-input--is-disabled textarea {
    color: #76d7d7;
}

#vital_signs .theme--light.v-text-field--outlined:not(.v-input--is-focused).v-input--is-disabled>.v-input__control>.v-input__slot fieldset {
    color: #76d7d7;
}
#vital_signs .theme--light.v-label--is-disabled {
    color: #76d7d7;
}
.badge-na .v-badge__wrapper, .badge-na .v-badge__badge{
    position: relative;
    inset: unset !important;
}