.chat_sidebar{
  overflow-y: auto;
  height: 89.99vh;
}
.chat-container{
	max-height: 90vh;
}
.chat-container .chat-box{
  height: 67.3vh;
  overflow-y: auto;
  /*background-color: #f2f2f2;*/
}
.files_container, .group_files_container, .member_list_container {
  overflow-y: auto;
}
.files_container{
	height: 50vh;
}
.group_files_container{
  height: 42vh;
}
.member_list_container {
 height: 8vh;
}
.profile-container, .chat-container{
	border: 1px solid lightgrey;
}
.name-container, .files-tabs,.file-item{
	border-bottom: 1px solid lightgrey;
}
.avatar-profile{
	font-size: 5vw !important;
}
.file-description{
	font-size: 0.9em;
}
.files-tabs .v-tabs-slider-wrapper{
	height:0px !important;
}
.files-tabs .v-tab{
	font-weight:200 !important;
}
.files-tabs .v-tab--active{
	background: grey;
	color:white;
}
h4.timeline{
	position: relative;
  z-index: 1;
  padding: 0px 15px;
}
h4.timeline:before {
  border-top: 2px solid lightgrey;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
h4.timeline span{
  padding: 0px 35px;
}